html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: "TTLakes-Medium", sans-serif;
    background-color: #FDFDFD;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
}

.page-header {
    background-color: #FDFDFD;
    font-size: 16px;
}
.page-header__icon-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 1px 2px 0 #D0FFF5;
    align-items: center;
    list-style: none;
    height: 88px;
    padding: 0 15px 0 0;
    margin: 0;
}
.icon-bar__icon{
    margin-left: 15px;
}
.icon-bar__decoration {
    border-left: 3px solid whitesmoke;
    height: 32px;
    margin-right: 5px;
 }

.icon-bar__logo {
    width: 100px;
    margin: 5px auto 0 15px;
    padding: 0;
}
.icon-bar__link {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.icon-bar__image {
    width: 40px;
    height: 40px;
}

.icon-bar__text, .icon-bar__icon--visibility-optional, .icon-bar__decoration:nth-child(2) {
    display: none;
}

.page-header__title {
    display: inline-block;
    font-family: "TTLakes-Bold", sans-serif;
    font-weight: bold;
    padding: 0 10px;
    margin: 20px 0 15px 0;
    border-left: 4px solid #00FFC4;
    border-top: 5px solid #FDFDFD;
    border-bottom: 5px solid #FDFDFD;
}

.page-header__nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 15px;
}
.nav-bar__item {
    width: auto;
    margin: 5px;
    padding: 7px 12px;
    text-decoration: none;
    color: #999999;
}
.nav-bar__item:first-child{
    border: 2px solid #BBFFEC;
    border-radius: 7px;
    background-color: white;
}

.page-main {
    display: flex;
    flex-direction: column;
}
.text-block__text {
    margin: 0;
    padding: 15px;
    width: 100%;
    height: 110px;
    overflow: hidden;
}
.text-block__read-more{
    margin: 15px 10px 15px 10px;
    background-color: inherit;
    border: none;
    font-size: 16px;
    font-family: inherit;
    font-weight: bold;
    width: 140px;
}
.text-block__more-icon {
    margin-right: 10px;
}
.page-main__image {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .icon-bar__icon--visibility-optional, .icon-bar__decoration:nth-child(2) {
        display: inline-block;
    }
    .icon-bar__icon:nth-child(6), .icon-bar__icon:first-of-type{
        margin-right: 15px;
    }
    .icon-bar__logo {
        width: 125px;
        margin-left: 15px;
    }

    .page-header__title {
        padding-left: 20px;
    }

    .page-main{
        flex-direction: row;
    }
    .page-main__image {
        border-radius: 5px;
        margin: 15px 20px 20px 30px;
        width: 50%;
    }
    .page-main__text-block{
        width: 50%;
    }
    .text-block__text {
        height: 170px;
    }
}

@media (min-width: 1120px) {
    .icon-bar__icon, .icon-bar__logo, .icon-bar .icon-bar__decoration {
        display: none;
    }
    .icon-bar__icon:nth-child(8), .icon-bar__icon:nth-child(9){
        display: inline-block;
        margin-right: 15px;
    }
    .icon-bar{
        position: absolute;
        right: 0;
        background-color: inherit;
        border: none;
        box-shadow: none;
        padding-right: 25px;
        font-weight: bold;
    }
    .icon-bar__text {
        display: inline-block;
        margin-right: 15px;
    }

    .page-header__title {
        padding-left: 35px;
    }
    .page-header__nav-bar {
        flex-wrap: wrap;
        height: auto;
        overflow: clip;
        padding-left: 35px;
    }

    .page-main {
        padding-left: 25px;
        padding-right: 20px;
    }
}